<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.junga.todaycolor"
    >

    <application
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="TodayColor"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="com.junga.todaycolor.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.junga.todaycolor.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.junga.todaycolor.SelectActivity"/>
        <activity android:name="com.junga.todaycolor.ResultActivity"/>
        <activity android:name="com.junga.todaycolor.LoadingActivity"/>
        <activity android:name="com.junga.todaycolor.ColorOfThailandStory" />
        <activity android:name="com.junga.todaycolor.DateResultActivity" />
    </application>

</manifest>